<div class="container-fluid">
  <div class="row py-2 px-3">
    <div class="col-12 border-bottom">
      <button class="btn bg-smartmilight  btn-sm mx-1" *ngFor="let tile of attributeTiles" [ngClass]="{active: activeTile === tile.key}" (click)="activeTile = tile.key">{{tile.name}}</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-units *ngIf="activeTile === 1"></app-units>
      <app-manufatures *ngIf="activeTile === 2"></app-manufatures>
    </div>
  </div>
</div>
