<div class="container-fluid">

  <div class="row py-3">
    <div class="col-6">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Library</a></li>
          <li class="breadcrumb-item active" aria-current="page">Data</li>
        </ol>
      </nav>
    </div>
    <div class="col-6 d-flex align-items-center justify-content-end">
      <button class="btn bg-primary btn-sm">Add New User</button>
    </div>
  </div>
  <!-- content body start -->
  <div class="card">
    <div class="container-fluid">
      <div class="row py-3 border-bottom">
        <div class="col-10 d-flex align-items-center">
          <span>Users</span>
        </div>
        <div class="col-2">
          <input type="search" name="search" id="search" class="form-control form control-sm" placeholder="Search">
        </div>
      </div>

      <div class="row py-2">
        <div class="col-10">
          <div class="container-fluid">
            <div class="row">
              <div class="col-3">
                <div class="form-group">
                  <label for="exampleInputEmail1" class="smartmi-label">Company</label>
                  <select class="form-control form-control-sm">
                    <option>Small select</option>
                  </select>
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label for="exampleInputEmail1" class="smartmi-label">Role</label>
                  <select class="form-control form-control-sm">
                    <option>Small select</option>
                  </select>
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label for="exampleInputEmail1" class="smartmi-label">Designation</label>
                  <select class="form-control form-control-sm">
                    <option>Small select</option>
                  </select>
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label for="exampleInputEmail1" class="smartmi-label">Department</label>
                  <select class="form-control form-control-sm">
                    <option>Small select</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-2 d-flex align-items-center justify-content-end">
          <div class="dropdown">
            <button class="btn bg-light dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sort
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- content body stop -->

</div>


