<div class="container-fluid">
  <div class="row py-3">
    <div class="col-10">
      <nav aria-label="breadcrumb bg-light">
        <ol class="breadcrumb my-0">
          <li class="breadcrumb-item"><i class="fas fa-home" [routerLink]="['/dashboard']"></i></li>
          <li class="breadcrumb-item"><a href="">General</a></li>
        </ol>
      </nav>
    </div>
    <div class="col-2 d-flex align-items-center">
      <input type="search" name="" id="" class="form-control pl-5 position-relative">
      <i class="fas fa-search text-gray position-absolute pl-2"></i>
   </div>
  </div>
  <div class="row">
    <div class="col-12">

      <!-- container start -->

      <div class="card border-0  p-4">
        <div class="container-fluid">

          <div class="row">
            <!-- sidebar start -->
            <div class="col-4 pl-0 border-right">
              <div class="container-fluid">
                <div class="row bg-white border smartmi-card py-2 mb-1 point">
                  <div class="col-2">
                    <i class="demo-icon icon-smartmigeneral">&#xe805;</i>
                  </div>
                  <div class="col-10 pl-0 d-flex align-items-center justify-content-between">
                    <div class="d-flex flex-column custom-card">
                      <span class="title1">General preferences</span>
                      <span class="sub-title1">Change your date, time and more…</span>
                    </div>
                    <i class="fas fa-chevron-right"></i>
                  </div>
                </div>
                <div class="row bg-white border smartmi-card py-2 mb-1 point" [routerLink]="['/dashboard/general/home/company']" routerLinkActive="active">
                  <div class="col-2">
                    <i class="demo-icon icon-smartmigeneral">&#xe80c;</i>
                  </div>
                  <div class="col-10 pl-0 d-flex justify-content-between align-items-center">
                    <div class="d-flex flex-column custom-card">
                      <span class="title1">Companies</span>
                      <span class="sub-title1">Create companies, edit and more…</span>
                    </div>
                    <i class="fas fa-chevron-right"></i>
                  </div>
                </div>
                <div class="row bg-white border smartmi-card py-2 mb-1 point">
                  <div class="col-2">
                    <i class="demo-icon icon-smartmigeneral">&#xe803;</i>
                  </div>
                  <div class="col-10 pl-0 d-flex align-items-center justify-content-between">
                    <div class="d-flex flex-column custom-card">
                      <span class="title1">Dashboard</span>
                      <span class="sub-title1">Manage dashboard and more…</span>
                    </div>
                    <i class="fas fa-chevron-right"></i>
                  </div>
                </div>
                <div class="row bg-white border smartmi-card py-2 mb-1 point">
                  <div class="col-2">
                    <i class="demo-icon icon-smartmigeneral">&#xe807;</i>
                  </div>
                  <div class="col-10 pl-0 d-flex align-items-center justify-content-between">
                    <div class="d-flex flex-column custom-card">
                      <span class="title1">Leads</span>
                      <span class="sub-title1">Edit, manage your leads and more…</span>
                    </div>
                    <i class="fas fa-chevron-right"></i>
                  </div>
                </div>
                <div class="row bg-white border smartmi-card py-2 mb-1 point">
                  <div class="col-2">
                    <i class="demo-icon icon-smartmigeneral">&#xe80a;</i>
                  </div>
                  <div class="col-10 pl-0 d-flex align-items-center justify-content-between">
                    <div class="d-flex flex-column custom-card">
                      <span class="title1">Orders</span>
                      <span class="sub-title1">Edit, manage your orders and more…</span>
                    </div>
                    <i class="fas fa-chevron-right"></i>
                  </div>
                </div>
                <div class="row bg-white border smartmi-card py-2 mb-1 point">
                  <div class="col-2">
                    <i class="demo-icon icon-smartmigeneral">&#xe80d;</i>
                  </div>
                  <div class="col-10 pl-0 d-flex align-items-center justify-content-between">
                    <div class="d-flex flex-column custom-card">
                      <span class="title1">Quotes</span>
                      <span class="sub-title1">Edit, manage your quotes and more…</span>
                    </div>
                    <i class="fas fa-chevron-right"></i>
                  </div>
                </div>
                <div class="row bg-white border smartmi-card py-2 mb-1 point">
                  <div class="col-2">
                    <i class="demo-icon icon-smartmigeneral">&#xe80e;</i>
                  </div>
                  <div class="col-10 pl-0 d-flex align-items-center justify-content-between">
                    <div class="d-flex flex-column custom-card">
                      <span class="title1">Reports</span>
                      <span class="sub-title1">Edit, manage your reports and more…</span>
                    </div>
                    <i class="fas fa-chevron-right"></i>
                  </div>
                </div>
                <div class="row bg-white border smartmi-card py-2 mb-1 point" [routerLink]="['/dashboard/general/home/productsattributes']" routerLinkActive="active">
                  <div class="col-2">
                    <i class="demo-icon icon-smartmigeneral">&#xe80b;</i>
                  </div>
                  <div class="col-10 pl-0 d-flex align-items-center justify-content-between">
                    <div class="d-flex flex-column custom-card">
                      <span class="title1">Products</span>
                      <span class="sub-title1">Edit, manage your products and more…</span>
                    </div>
                    <i class="fas fa-chevron-right"></i>
                  </div>
                </div>
                <div class="row bg-white border smartmi-card py-2 mb-1 point">
                  <div class="col-2">
                    <i class="demo-icon icon-smartmigeneral">&#xe80c;</i>
                  </div>
                  <div class="col-10 pl-0 d-flex align-items-center justify-content-between">
                    <div class="d-flex flex-column custom-card">
                      <span class="title1">Projects</span>
                      <span class="sub-title1">Edit, manage your projects and more…</span>
                    </div>
                    <i class="fas fa-chevron-right"></i>
                  </div>
                </div>
                <div class="row bg-white border smartmi-card py-2 mb-1 point">
                  <div class="col-2">
                    <i class="demo-icon icon-smartmigeneral">&#xe802;</i>
                  </div>
                  <div class="col-10 pl-0 d-flex align-items-center justify-content-between">
                    <div class="d-flex flex-column custom-card">
                      <span class="title1">Customers</span>
                      <span class="sub-title1">Edit, manage your customers and more…</span>
                    </div>
                    <i class="fas fa-chevron-right"></i>
                  </div>
                </div>
                <div class="row bg-white border smartmi-card py-2 mb-1 point">
                  <div class="col-2">
                    <i class="demo-icon icon-smartmigeneral">&#xe810;</i>
                  </div>
                  <div class="col-10 pl-0 d-flex align-items-center justify-content-between">
                    <div class="d-flex flex-column custom-card">
                      <span class="title1">Users</span>
                      <span class="sub-title1">Edit, manage your users and more…</span>
                    </div>
                    <i class="fas fa-chevron-right"></i>
                  </div>
                </div>
                <div class="row bg-white border smartmi-card py-2 mb-1 point">
                  <div class="col-2">
                    <i class="demo-icon icon-smartmigeneral">&#xe806;</i>
                  </div>
                  <div class="col-10 pl-0 d-flex align-items-center justify-content-between">
                    <div class="d-flex flex-column custom-card">
                      <span class="title1">KPI</span>
                      <span class="sub-title1">Edit, manage your KPI and more…</span>
                    </div>
                    <i class="fas fa-chevron-right"></i>
                  </div>
                </div>
                <div class="row bg-white border smartmi-card py-2 mb-1 point">
                  <div class="col-2">
                    <i class="demo-icon icon-smartmigeneral">&#xe800;</i>
                  </div>
                  <div class="col-10 pl-0 d-flex align-items-center justify-content-between">
                    <div class="d-flex flex-column custom-card">
                      <span class="title1">Schedules & Tasks</span>
                      <span class="sub-title1">Edit, manage your shedules and more…</span>
                    </div>
                    <i class="fas fa-chevron-right"></i>
                  </div>
                </div>

              </div>
            </div>
            <!-- sidebar end -->
            <!-- content router start -->
            <div class="col-8 px-0">
             <router-outlet></router-outlet>
            </div>
            <!-- content router end -->
          </div>

        </div>
      </div>

      <!-- container end -->

    </div>
  </div>
</div>

