<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-lg-2 order-lg-1 order-1 d-flex align-items-center justify-content-between  py-lg-0 py-1">
      <img src="../../../assets/img/download.png" alt="">
      <span class="material-icons">
        dashboard
      </span>
    </div>
    <div class="col-lg-3 order-lg-2 order-4  d-flex align-items-center py-lg-0 py-1">
      <div class="dropdown mx-1">
        <button class="btn btn-light btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Quotes
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
      <div class="dropdown mx-1">
        <button class="btn btn-light btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Order
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </div>
    <div class="col-lg-5 order-lg-3 order-3 d-flex align-items-center py-lg-0 py-1">
      <input type="search" name="search" id="" class="form-control rounded-pill">
    </div>
    <div class="col-lg-2 order-lg-4 order-2 d-flex align-items-center justify-content-end  py-lg-0 py-1">
      <span class="material-icons mx-1">
        search
      </span>
      <span class="material-icons mx-1">
        settings
      </span>
      <span class="material-icons mx-1">
        notifications
      </span>
      <div class="box bg-danger rounded-circle"></div>
    </div>
  </div>
</div>

