
.icon-smartmicalender:before { content: '\e800'; } /* '' */
.icon-smartmicalender-1:before { content: '\e801'; } /* '' */
.icon-smartmicustomers:before { content: '\e802'; } /* '' */
.icon-smartmidashboard:before { content: '\e803'; } /* '' */
.icon-smartmiedit:before { content: '\e804'; } /* '' */
.icon-smartmigeneral:before { content: '\e805'; } /* '' */
.icon-smartmikpi:before { content: '\e806'; } /* '' */
.icon-smartmileads:before { content: '\e807'; } /* '' */
.icon-smartmilocatemi:before { content: '\e808'; } /* '' */
.icon-smartminotifications:before { content: '\e809'; } /* '' */
.icon-smartmiorders:before { content: '\e80a'; } /* '' */
.icon-smartmiproducs:before { content: '\e80b'; } /* '' */
.icon-smartmiprojects:before { content: '\e80c'; } /* '' */
.icon-smartmiquotes:before { content: '\e80d'; } /* '' */
.icon-smartmireports:before { content: '\e80e'; } /* '' */
.icon-smartmisettings:before { content: '\e80f'; } /* '' */
.icon-smartmiusers:before { content: '\e810'; } /* '' */