<div class="container-fluid">
  <div class="row py-2">
   <div class="col-4">
     <span>List of MAnufatures</span>
   </div>
   <div class="col-8 d-flex justify-content-end">
     <button class="btn bg-primary btn-sm" *ngIf="!brandaddFlag" (click)="brandaddFlag = !brandaddFlag">Create New Brand</button>
   </div>

   <!-- create brand -->
   <div class="col-12 my-2" *ngIf="brandaddFlag">
     <div class="card">
       <div class="container-fluid">
         <div class="row border-bottom">
           <div class="col-8 py-2">
            <div class="form-group">
              <label for="name">Name of Manufature</label>
              <input [(ngModel)]="brand.name" type="text" class="form-control" id="name" placeholder="Name">
            </div>
            <div class="form-group">
              <label for="website">website</label>
              <input [(ngModel)]="brand.website" type="text" class="form-control" id="website" placeholder="www.sample.com">
            </div>
           </div>
           <div class="col-4 py-2">
            <span>Logo</span>
            <div class="" *ngIf="brand.logo === null">
              <input type="file" name="logo" id="logo" (change)="logoSelect($event)">
            </div>
            <div class="w-100 position-relative d-flex justify-content-center align-items-center" *ngIf="brand.logo !== null">
              <img src="{{brand.logo}}" width="100%" height="130px" alt="{{brand.name}}" class="position-relative">
              <div class="position-absolute box text-danger">
                <i class="las la-times-circle" (click)="brand.logo = null"></i>
              </div>
            </div>
           </div>
         </div>
         <div class="row py-2">
           <div class="col-12 d-flex align-items-center justify-content-between">
            <div class="custom-control custom-switch">
              <input type="checkbox" [(ngModel)]="brand.active" class="custom-control-input" id="customSwitch1">
              <label class="custom-control-label" for="customSwitch1">Active</label>
            </div>
            <div class="d-flex">
              <button class="btn btn-secondary btn-sm mx-1" (click)="close()">Close</button>
              <button class="btn btn-secondary btn-sm mx-1" (click)="save()" *ngIf="!brandeditFlag">Save</button>
              <button class="btn btn-secondary btn-sm mx-1" (click)="update()" *ngIf="brandeditFlag">Update</button>
            </div>
           </div>
         </div>
       </div>
     </div>
   </div>
   <!-- create brand -->
  </div>
  <div class="row py-3 bg-light">
    <div class="col-2">
      <span>Logo</span>
    </div>
    <div class="col-5 d-flex align-items-center justify-content-between">
      <span>Name</span>
      <span>Website</span>
    </div>
    <div class="col-2 d-flex justify-content-end">
      <span>Status</span>
    </div>
    <div class="col-3 d-flex justify-content-end">Opertions</div>
  </div>

  <div class="row brand py-3 border-bottom" *ngFor="let item of brandList">
    <div class="col-2">
      <img src="{{item.logo}}" width="100px" alt="{{item.name}}">
    </div>
    <div class="col-5 d-flex align-items-center justify-content-between">
      <span>{{item.name}}</span>
      <span>{{item.website}}</span>
    </div>
    <div class="col-2 d-flex justify-content-end align-items-center">
      <span class="text-success" *ngIf="item.active">Active</span>
      <span class="text-danger" *ngIf="!item.active">Inactive</span>
    </div>
    <div class="col-3 d-flex align-items-center justify-content-end">
      <div class="">
        <i class="las la-edit" (click)="edit(item)"></i>
        <i class="las la-trash-alt" (click)="delete(item)"></i>
      </div>
    </div>
  </div>
</div>
