<div class="container-fluid">
  <div class="row py-3">
    <div class="col-8">
      <nav aria-label="breadcrumb bg-light">
        <ol class="breadcrumb my-0">
          <li class="breadcrumb-item"><span class="material-icons">
            home
          </span></li>
          <li class="breadcrumb-item">Leads</li>
        </ol>
      </nav>
    </div>
    <div class="col-4 d-flex align-items-center justify-content-end">
      <button class="btn bg-primary" (click)="navigate('dashboard/createlead')">Create New Lead</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="container-fluid">
          <div class="row py-3 border-bottom">
            <div class="col-8 d-flex align-items-center">
              <span>Leads</span>
            </div>
            <div class="col-4">
              <input type="text" name="" id="" class="form-control">
            </div>
          </div>
          <div class="row py-3">
            <div class="col-10">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-3">
                    <select class="form-control form-control-sm">
                      <option>Small select</option>
                    </select>
                  </div>
                  <div class="col-3">
                    <select class="form-control form-control-sm">
                      <option>Small select</option>
                    </select>
                  </div>
                  <div class="col-3">
                    <select class="form-control form-control-sm">
                      <option>Small select</option>
                    </select>
                  </div>
                  <div class="col-3">
                    <select class="form-control form-control-sm">
                      <option>Small select</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-2 d-flex align-items-center justify-content-end">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Sort
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 px-0">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Employee code</th>
                    <th scope="col">Designation</th>
                    <th scope="col">Role</th>
                    <th scope="col">Company</th>
                    <th scope="col">Department</th>
                    <th scope="col">Reporting</th>
                    <th scope="col">Status </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Jithin</th>
                    <td>CPD-1002</td>
                    <td>Developer</td>
                    <td>Admin</td>
                    <td>Creativepanda</td>
                    <td>Full stack development</td>
                    <td>Ajmal</td>
                    <td>Active</td>
                  </tr>
                  <tr>
                    <th scope="row">Ajmal</th>
                    <td>CPD-1001</td>
                    <td>CEO</td>
                    <td>Admin</td>
                    <td>Creativepanda</td>
                    <td>CEO</td>
                    <td>Admin</td>
                    <td>Active</td>
                  </tr>
                  <tr>
                    <th scope="row">Akhil</th>
                    <td>CPD-1003</td>
                    <td>Developer</td>
                    <td>Engineer</td>
                    <td>Creativepanda</td>
                    <td>Full stack development</td>
                    <td>Jithin</td>
                    <td>Active</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
