@import '~ngx-toastr/toastr';
@font-face{
  font-family: poppins-regular;
  src: url(./assets/fonts/Poppins-Regular.ttf);
}
@font-face{
  font-family: poppins-medium;
  src: url(./assets/fonts/Poppins-Medium.ttf);
}
@font-face{
  font-family: fontawsome;
  src: url(./assets/fonts/fa-solid-900.ttf);
}
/* You can add global styles to this file, and also import other style files */
body{
  font-family: poppins-regular !important;
  color: #999EBC !important;
  font-size: 14px;
}
.bg-light{
  background-color: #E7EBFF !important;
}
.bg-primary{
  background-color: #5E77FF !important;
  color: white !important;
}
.text-primary{
  color: #5E77FF;
}
.btn-secondary {
  background-color: #868e96 !important;
}
.breadcrumb{
  background-color: transparent !important;
}
.las{
  font-size: 24px;
}
.title{
  font-family: poppins-medium;
  color: #636177;
  font-size: 14px;
  font-weight:900;
}
.sub-title{
  font-family: poppins-medium;
   font-size: 12px;
}
.breadcrumb-item+.breadcrumb-item::before{
  content: '' !important;
  background: #dad9e8 !important;
  width: 4px !important;
  height: 8px !important;
  border-radius: 50% !important;
  margin-right: 7px !important;
}
.la-edit, .la-trash-alt, .la-times-circle {
  cursor: pointer;
}
.fa-caret-up{
  font-size: 32px;
}
.custom-control-label::before {
  height: 1.7rem !important;
}
.custom-control-label::before {
  content: 'Inactive';
  color: white;
  background-color:black;
  text-align: right;
  padding-left: 25px;
  display: flex;
  align-items: center;
}
.custom-switch .custom-control-label::before {
  width: 90px !important;
  border-radius: 50px;
}
.custom-switch .custom-control-label.custom-control-label::after {
  background-color: white !important;
}
.custom-switch .custom-control-label::after {
  top: 7px !important;
  width: 20px !important;
  height: 20px !important;
  border-radius: 50% !important;
}
.custom-switch .custom-control-input:checked~.custom-control-label::after {
  transform: translateX(64px) !important;
}
.custom-control-input:checked~.custom-control-label::before {
  content: 'active';
  color: white;
  background-color: green !important;
  padding-left: 5px;
}
.form-control{
  border: 1px solid #eaedf1!important;
  border-radius: 0px!important;
  display: block !important;
  min-height: 44px !important;
}
.form-control:focus{
  border: 2px solid #5E77FF !important;
  box-shadow: none !important;
}
.save:hover {
  background-color: white !important;
  color: rgb(113, 135, 255);
  border: 1px solid #5E77FF !important;
}
.select-wraper {
  position: relative;
}
select {
  -webkit-appearance: none;
}
.select-wraper::after {
  content: "\f078";
  font-family: fontawsome;
  width: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  right: 0px;
  pointer-events: none;
}
.form-control:focus ~ .select-wraper  {
  border: 5px solid green !important;
}
.lnr{
  font-size: 20px;
}
