<div class="container-fluid">
  <div class="row py-3">
    <div class="col-12">
      <nav aria-label="breadcrumb bg-light">
        <ol class="breadcrumb my-0">
          <li class="breadcrumb-item"><span class="material-icons">
              home
            </span></li>
          <li class="breadcrumb-item">Quotes</li>
          <li class="breadcrumb-item">create Quote</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="container-fluid">
          <div class="row py-3 border-bottom">
            <div class="col-12 d-flex align-items-center">
              <span>General details</span>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-12">
              <div class="form-group">
                <label for="exampleFormControlInput1">Company</label>
                <select class="form-control form-control-sm" id="exampleFormControlInput1">
                  <option>Small select</option>
                </select>
              </div>
            </div>
            <div class="col-lg-3 col-12">
              <div class="form-group">
                <label for="exampleFormControlInput1">Quote Reference</label>
                <input type="text" class="form-control form-control-sm" id="exampleFormControlInput1" placeholder="Auoto Generated" disabled>
              </div>
            </div>
            <div class="col-lg-3 col-12">
              <div class="form-group">
                <label for="exampleFormControlInput1">ERP Reference</label>
                <input type="text" class="form-control form-control-sm" id="exampleFormControlInput1" placeholder="ERP Reference">
              </div>
            </div>
            <div class="col-lg-3 col-12">
              <div class="form-group">
                <label for="exampleFormControlInput1">Lead Reference</label>
                <select class="form-control form-control-sm" id="exampleFormControlInput1">
                  <option>Small select</option>
                </select>
              </div>
            </div>
            <div class="col-lg-6 col-12">
              <div class="form-group">
                <label for="exampleFormControlInput1">Customer Name</label>
                <select class="form-control form-control-sm" id="exampleFormControlInput1">
                  <option>Small select</option>
                </select>
              </div>
            </div>
            <div class="col-lg-6 col-12">
              <div class="form-group">
                <label for="exampleFormControlInput1">Project Name</label>
                <select class="form-control form-control-sm" id="exampleFormControlInput1">
                  <option>Small select</option>
                </select>
              </div>
            </div>
            <div class="col-lg-3 col-12">
              <div class="form-group">
                <label for="exampleFormControlInput1">Quote stage</label>
                <select class="form-control form-control-sm" id="exampleFormControlInput1">
                  <option>Small select</option>
                </select>
              </div>
            </div>
            <div class="col-lg-3 col-12">
              <div class="form-group">
                <label for="exampleFormControlInput1">Sales engineer</label>
                <select class="form-control form-control-sm" id="exampleFormControlInput1">
                  <option>Small select</option>
                </select>
              </div>
            </div>
            <div class="col-lg-3 col-12">
              <div class="form-group">
                <label for="exampleFormControlInput1">Currency</label>
                <select class="form-control form-control-sm" id="exampleFormControlInput1">
                  <option>Small select</option>
                </select>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row py-3">
    <div class="col-12">
      <div class="card">
        <div class="container-fluid">
          <div class="row py-3 border-bottom">
            <div class="col-12 d-flex align-items-center">
              <span>Product details</span>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-12">
              <div class="form-group">
                <label for="exampleFormControlInput1">Product group</label>
                <select class="form-control form-control-sm" id="exampleFormControlInput1">
                  <option>Small select</option>
                </select>
              </div>
            </div>
            <div class="col-lg-4 col-12">
              <div class="form-group">
                <label for="exampleFormControlInput1">Product name</label>
                <select class="form-control form-control-sm" id="exampleFormControlInput1">
                  <option>Small select</option>
                </select>
              </div>
            </div>
            <div class="col-lg-4 col-12 d-flex align-items-center">
              <div class="btn-box bg-primary rounded-circle d-flex align-items-center justify-content-center text-white">
                <span class="material-icons">
                  add
                </span>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row py-1">
    <div class="col-12">
      <div class="card">
        <div class="container-fluid">
          <div class="row py-3 border-bottom">
            <div class="col-12 d-flex align-items-center">
              <span>Terms & conditions</span>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-12">
              <div class="form-group">
                <label for="exampleFormControlInput1">Term</label>
                <select class="form-control form-control-sm" id="exampleFormControlInput1">
                  <option>Small select</option>
                </select>
              </div>
            </div>
            <div class="col-lg-6 col-12">
              <div class="form-group">
                <label for="exampleFormControlInput1">Description</label>
                <input type="text" class="form-control form-control-sm" id="exampleFormControlInput1"
                  placeholder="Auoto Generated">
              </div>
            </div>
            <div class="col-lg-3 col-12 d-flex align-items-center">
              <div class="btn-box bg-primary rounded-circle d-flex align-items-center justify-content-center text-white">
                <span class="material-icons">
                  add
                </span>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row py-3">
    <div class="col-12 d-flex align-items-center justify-content-end">
      <button class="btn bg-primary">Save</button>
    </div>
  </div>
</div>
